html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5e1ef;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* outer box */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(20, 40, 80, 0.08);
  padding: 16px;
  padding-bottom: 40px;
  gap: 24px;
}

/* inner box */
.content {
  width: 288px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
  box-sizing: border-box;
}

.content h3 {
  color: #1f314f;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
}

.content p {
  color: #68778d;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin: 0;
}

.qr-img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}
